<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../images/lib/layui/css/layui.css" />
    <link rel="stylesheet" href="../../images/css/xadmin.css">   
    <link rel="stylesheet" href="../../images/css/style.css" />
    <link rel="stylesheet" href="../../images/css/animate.min.css">
    <link rel="stylesheet" href="../../images/css/font.css" />
    <title>标签分类</title>
</head>
<body>
    <div class="pages voucher goods">
        <div class="header">
            <div class="select">
                <div class="page-title">标签分类</div>
                <div class="search">
                    <input class="layui-input" placeholder="请输入标签分类名" />
                    <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
            <div class="right">
                <button type="button" class="layui-btn danger btn-1"><i class="layui-icon">&#xe640;</i>批量删除</button>
                <button type="button" class="layui-btn layui-btn-normal btn-1"><i class="layui-icon">&#xe61f;</i>添加分类</button>
                <button type="button" class="layui-btn refresh"><a href="javascript:location.reload()">刷新</a></button>
            </div>
        </div>
        <div class="table content wow fadeInUp">
            <table class="layui-hide" id="data" lay-filter="test"></table>
            <script type="text/html" id="switch">
                <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-filter="sexDemo" {{ d.id == 10000 ? 'checked' : '' }} />
            </script>
            <script type="text/html" id="control">
                <a title="编辑分类" class="orange" onclick="x_admin_show('编辑标签分类','./edit.html?id='+6)" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i> 
                </a>
                <a title="删除" class="blue" onclick="del(this,6)" href="javascript:;">
                    <i class="icon iconfont">&#xe69d;</i>
                </a> 
            </script>
            <div class="total">共有数据：100条</div>
            <div id="pages"></div>
        </div>
    </div>
    
    <script src="../../images/lib/layui/layui.all.js"></script>
    <script src="../../images/js/jquery.min.js"></script>
    <script src="../../images/js/wow.min.js"></script>
    <script src="../../images/js/xadmin.js"></script>
    <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
		new WOW().init();

        function del(obj, id) {
            console.log(id);
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据
                $.post('/Aj_Crm_Tagtype/delete.json', {'id': [id]}, function (data) {
                    if (data.code !== 200) {
                        layer.msg(data.msg);
                    } else {
                        layer.alert("删除成功", {icon: 6}, function () {
                            location.replace(location.href);
                        });
                    }
                });
            });
        }

        layui.use(['table', 'laypage'], function(){
            var table = layui.table;        //表格
            var laypage = layui.laypage;    // 分页

            table.render({
                elem: '#data'
                ,url: '../../images/js/data.json' //数据接口
                ,title: '用户表'
                ,cols: [[ //表头
                {type: 'checkbox'}
                ,{field: 'id', title: 'ID'}
                ,{field: 'username', title: '分类名称'}
                ,{field: 'city', title: '状态', toolbar: '#switch'}
                ,{field: 'experience', title: '加入时间'}
                ,{field: 'sign', title: '操作', toolbar: '#control'}
                ]]
                ,done: function (){
                    $('.table').fadeIn();
                }
            });

            // page
            laypage.render({
                elem: 'pages'
                ,groups: 2
                ,count: 1000
                ,layout: ['prev', 'page', 'next', 'limit', 'refresh', 'skip'],
                jump: function(obj){
                    console.log(obj)
                }
            });

        });
    </script>
</body>
</html>