<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../images/lib/layui/css/layui.css" />
    <link rel="stylesheet" href="../../images/css/xadmin.css">   
    <link rel="stylesheet" href="../../images/css/style.css" />
    <link rel="stylesheet" href="../../images/css/animate.min.css">
    <link rel="stylesheet" href="../../images/css/font.css" />
    <title>任务列表</title>
</head>
<body>
    <div class="pages taskList">
        <div class="header">
            <div class="select">
                <div class="page-title">任务列表</div>
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">排序：</label>
                            <div class="layui-input-inline">
                                <select name="interest" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="0">写作</option>
                                    <option value="1">阅读</option>
                                    <option value="2">游戏</option>
                                    <option value="3">音乐</option>
                                    <option value="4">旅行</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-inline">
                                <select name="interest" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="0">写作</option>
                                    <option value="1">阅读</option>
                                    <option value="2">游戏</option>
                                    <option value="3">音乐</option>
                                    <option value="4">旅行</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="main wow fadeInUp">
            <div class="layui-btn-group taskTab">
                <button type="button" class="layui-btn active">生日送券任务</button>
                <button type="button" class="layui-btn ">优惠劵包</button>
                <button type="button" class="layui-btn">注册送券</button>
            </div>
            <div class="table content">
                <table class="layui-hide" id="data" lay-filter="test"></table>
                <script type="text/html" id="switch">
                    <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-filter="sexDemo" {{ d.id == 10000 ? 'checked' : '' }} />
                </script>
                <script type="text/html" id="control">
                    <a title="编辑分类" class="orange" onclick="x_admin_show('编辑标签分类','./edit.html?id='+6)" href="javascript:;">
                        <i class="layui-icon">&#xe642;</i> 
                    </a>
                    <a title="删除" class="blue" onclick="del(this,6)" href="javascript:;">
                        <i class="icon iconfont">&#xe69d;</i>
                    </a> 
                    <a title="链接" class="orange" onclick="del(this,6)" href="javascript:;">
                        <i class="icon iconfont">&#xe6f7;</i>
                    </a> 
                    <a title="二维码" class="gray" onclick="del(this,6)" href="javascript:;">
                        <i class="icon iconfont">&#xe6a9;</i>
                    </a> 
                </script>
                <div class="total">共有数据：100条</div>
                <div id="pages"></div>
            </div>
        </div>
    </div>
    
    <script src="../../images/lib/layui/layui.all.js"></script>
    <script src="../../images/js/jquery.min.js"></script>
    <script src="../../images/js/wow.min.js"></script>
    <script src="../../images/js/xadmin.js"></script>
    <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
		new WOW().init();

        function del(obj, id) {
            console.log(id);
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据
                $.post('/Aj_Crm_Tagtype/delete.json', {'id': [id]}, function (data) {
                    if (data.code !== 200) {
                        layer.msg(data.msg);
                    } else {
                        layer.alert("删除成功", {icon: 6}, function () {
                            location.replace(location.href);
                        });
                    }
                });
            });
        }

        $('.taskTab button').each(function(index){
            $(this).on('click', function (){
                console.log(index);
                $(this).addClass('active').siblings().removeClass('active');
            });
        });

        layui.use(['table', 'laypage'], function(){
            var table = layui.table;        //表格
            var laypage = layui.laypage;    // 分页

            table.render({
                elem: '#data'
                ,url: '../../images/js/data.json' //数据接口
                ,title: '用户表'
                ,cols: [[ //表头
                {type: 'checkbox'}
                ,{field: 'id', title: 'ID'}
                ,{field: 'username', title: '任务名称'}
                ,{field: 'experience', title: '创建时间'}
                ,{field: 'sex', title: '已发送'}
                ,{field: 'score', title: '转化率'}
                ,{field: 'city', title: '状态', toolbar: '#switch'}
                ,{field: 'sign', title: '操作', toolbar: '#control'}
                ]]
                ,done: function (){
                    $('.table').fadeIn();
                }
            });

            // page
            laypage.render({
                elem: 'pages'
                ,groups: 2
                ,count: 1000
                ,layout: ['prev', 'page', 'next', 'limit', 'refresh', 'skip'],
                jump: function(obj){
                    console.log(obj)
                }
            });

        });
    </script>
</body>
</html>